body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 1440px;
    max-width: 100%;  
    display: flex; 
    justify-content: center;
    overflow: hidden;
}

.header__line {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 8px;
    margin: 12px 82px;
}

.header__logo {
    cursor: pointer; 
    padding: 8px 20px;
    display: flex;
    align-items: center; 
    gap: 8px;
    text-decoration: none;
}

.header__logo img {
    height: 24px;
    width: 24px;
}

.header__logo-text {
    color:black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.18em;
    line-height: 1.5; 
}

.header__menu {
    cursor: pointer;
}

.header__menu a {
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.18em;
    line-height: 1.5;    
    padding: 12px 20px;
    text-decoration: none;
}

.header__menu a:hover {
    background-color: #FFEDED;
    color: #FF4646;
    border-radius: 10px;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.hero-section {
    background-color: #FF4646;
    background-image: url('images/bg-snow.png'), url('images/bg-ball.png');
    background-position: top center; 
    background-size: auto 100%; 
    background-repeat: no-repeat; 
    height: 524px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%; 
    overflow: hidden; 
}

.hero-section__container {
    width: 426px;
    text-align: center;
}

.hero-section__wish {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400px;
    letter-spacing: 0.05em;
    color: white;
    margin: 0;
    margin-top: 24px;
}

.hero-section__title {
    color: white;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.17em; 
    margin-top: 0;
}

.hero-section__button {
    padding: 20px 32px;
    background-color: #181C29;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.3;
}

.hero-section__button:hover {
    background-color: white;
    color: black;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.about-section {
    background-color: #FF4646;
    background-image: url('images/bg-snow.png');
    background-size: cover;
    overflow: hidden;
    width: 100%; 
    background-position: top center;
    height: 648px; 
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box; 
}

.about-section__block {
    background-color: white;
    border-radius: 20px;
    height: 528px;
    max-width: 1276px;
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    overflow: hidden;
}

.about-section__block-text {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 20px;
    max-width: 426px;
    width: 100%;
    margin: 60px;
    box-sizing: border-box; 
}

.about-section__block img {
    border-radius: 20px;
    height: 100%; 
    max-width: 50%; 
    object-fit: cover; 
}

.about-section__caption {
    font-family: "Allura", cursive;
    color: #FF4646;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1;
    margin: 0;
}

.about-section__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.16em; 
    line-height: 1.52;
    margin: 0;
}

.about-section__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48;
    margin: 0;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.slider-section {
    background-color: #FF4646;
    background-image: url('images/bg-snow.png');
    background-size: cover;
    overflow: hidden;
    width: 100%; 
    background-position: center;
}

.slider-section__caption {
    font-family: "Allura", cursive;
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding-top: 60px;
    text-align: center;
}

.slider-section__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.05em; 
    line-height: 1;
    padding-top: 12px;
    text-align: center;
}

.slider-section__container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 82px;
}

.slide-content {
    display: flex;  
    gap: 20px;
}

.slide-content img { 
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.slide-content h2 { 
    color: #FFFF;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}

.arrow-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 82px;
    padding-bottom: 60px;
    position: relative;
}

.arrow-icon {
    width: 56px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.arrow-icon::before,
.arrow-icon::after {
    content: '';
    position: absolute;
    border-color: rgba(255, 255, 255, 0.4);
}

.arrow-icon::before {
    width: 20px;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.arrow-icon::after {
    width: 12.5px;
    height: 12.5px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-icon--left::before {
    transform: translateX(-2px) translate(-50%, -50%);
}

.arrow-icon--left::after {
    transform: translateX(-6px) translate(-50%, -50%) rotate(135deg);
}

.arrow-icon--right::before {
    transform: translateX(2px) translate(-50%, -50%);
}

.arrow-icon--right::after {
    transform: translateX(6px) translate(-50%, -50%) rotate(-45deg);
}

.arrow-icon:hover {
    border-color: #FFFF; 
}

.arrow-icon:hover::before,
.arrow-icon:hover::after {
    border-color: #FFFF; 
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.best-gifts-section__container {
    background-color: #FF4646;
    background-image: url('images/bg-snow.png');
    background-size: cover;
    overflow: hidden;
    width: 100%; 
    min-height: 554px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: center;
}

.best-gifts-section__caption {
    font-family: "Allura", cursive;
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding-top: 60px;
    text-align: center;
}

.best-gifts-section__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.05em; 
    line-height: 1;
    padding-top: 12px;
    text-align: center;
}

.best-gifts-section__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    padding-top: 20px;
}

.best-gifts-card {
    position: relative; 
    width: 310px;
    height: 342px; 
    background-color: #ECF3F8; 
    border-radius: 20px; 
    overflow: hidden;
}

.best-gifts-card:nth-child(1) {
    background-image: url('images/gift-for-work.png');
    background-repeat: no-repeat;   
    background-position: top;
    background-size: 100% 230px;   
}

.best-gifts-card:nth-child(2) {
    background-image: url('images/gift-for-health.png');
    background-repeat: no-repeat;   
    background-position: top;
    background-size: 100% 230px;
}

.best-gifts-card:nth-child(3) {
    background-image: url('images/gift-for-work.png');
    background-repeat: no-repeat;   
    background-position: top;
    background-size: 100% 230px;
}

.best-gifts-card:nth-child(4) {
    background-image: url('images/gift-for-harmony.png');
    background-repeat: no-repeat;   
    background-position: top;
    background-size: 100% 230px;
}

.best-gifts-card__text-block {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 112px;
    background-color: #FFFFFF; 
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.best-gifts-card__text-block > div {
    margin-left: 20px;
}

.best-gifts-card__category {    
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.05em;
    margin-bottom: 8px;
}

.best-gifts-card:nth-child(1) .best-gifts-card__category,
.best-gifts-card:nth-child(3) .best-gifts-card__category {
    color: #4361FF;
}

.best-gifts-card:nth-child(2) .best-gifts-card__category {
    color: #06A44F;
}

.best-gifts-card:nth-child(4) .best-gifts-card__category {
    color: #FF43F7;
}

.best-gifts-card__name {    
    font-size: 16px;
    font-weight: 600;
    line-height: 1.52;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.best-gifts-section__card {
    height: 342px;
}

.best-gifts-section__card > div:nth-child(1) {
    background-image: url('images/gift-for-work.png');
}

.best-gifts-section__card > div:nth-child(2) {
    background-image: url('images/gift-for-health.png');
}

.best-gifts-section__card > div:nth-child(3) {
    background-image: url('images/gift-for-work.png');
}

.best-gifts-section__card > div:nth-child(4) {
    background-image: url('images/gift-for-harmony.png');
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/

.cta-section {
    height: 668px;
    background-color: #FF4646;
    background-image: url('images/bg-forest.png'), url('images/bg-snow.png');
    background-size: cover; 
    background-position: center center, center bottom;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section__title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.52;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.cta-section__button {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #181C29;
    padding: 20px 32px;
    border-radius: 20px;
    margin-top: 40px;
}

.cta-section__new-year-wish {
    font-family: Allura;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    margin-top: 40px;
}

.cta-section__container {
    height: 428px;
    width: 426px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cta-section__button:hover {
    color: #181C29;
    background-color: white;
}

.cta-section__countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    margin-top: 8px;
    height: 72px;
    width: 344px;
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 20px;
}

.cta-section__countdown-data > div {
    width: 80px;
    height: 36px;
    font-size: 24px;
    text-align: center;
    position: relative; 
}

.cta-section__countdown-data {
    position: relative; 
}

.cta-section__countdown-data::after {
    content: ''; 
    position: absolute;
    right: 0;
    bottom: 13px;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.8);  
}

.cta-section__countdown-data:nth-child(4)::after {
    display: none;
}


.cta-section__countdown-data > .cta-section__countdown-label {
    width: 80px;
    height: 16px;
    font-size: 12px;
    text-align: center;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.footer {
    max-width: 1440px; 
    width: 100%;
    margin: 60px auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.footer__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 12px;
}

.footer__card {
    background-color: #ECF3F8;
    border-radius: 20px;
    min-width: 418px;
    min-height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 12px;
}

.contacts__icon {
    height: 80px;
    width: 80px;
}

.contacts__info {
    font-size: 24px;
    font-weight: 600;
    line-height:  1.52;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.contacts__text {
    font-size: 16px;
    font-weight: 600;
    line-height:  1.52;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.footer__container {    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 12px;
}

.footer__social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
    height: 40px;
}

.footer__copyrights {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48;
}

.footer__wish {
    font-family: Allura;
    font-size: 24px;
    font-weight:  400;
    line-height: 1;
    letter-spacing: 0.05em;
}

@media (max-width: 1280px) {
    .header__menu {
        display: none;
    }

    .header__hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10px; 
        width: 20px; 
        cursor: pointer;
    }

    .header__hamburger div {
        background-color: #181C29; 
        height: 1px;             
    }

    .header__line {
        margin: 12px 8px;
    }

    .arrow-buttons {
        margin-right: 20px;
    }    

    .footer__cards {
        flex-direction: column;
    }

    .footer__card {
        min-width: 100%;
    }

    .about-section__block-text {
        width: 35%;
    }
}

@media (max-width: 600px) {
    .about-section {
        height: 1000px;
    }
    
    .about-section__block {
        height: 880px;
        flex-direction: column;
        align-items: center; 
    }

    .about-section__block-text {
        width: 93%;     
    }

    .about-section__block img {
        max-width: 100%;
    }
}
